@font-face {
    font-family: 'DisposableDroid BB';
    src: url('DisposableDroidBB.woff2') format('woff2'),
        url('DisposableDroidBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

